<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pokemon Finder</title>

  <!-- Bootstrap Core CSS -->
  <link href="http://127.0.0.1:5000/file/index/bootstrap.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="http://127.0.0.1:5000/file/index/all.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://127.0.0.1:5000/file/index/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="http://127.0.0.1:5000/file/index/stylish-portfolio.css" rel="stylesheet">
  <style type="text/css">
    body{
      background-image:url(http://127.0.0.1:5000/file/index/back_pok.jpg);
      background-position: center;
      background-size: cover;
    }
  </style>
</head>

<body id="page-top">
  <header class="masthead d-flex">
    <div class='container text-center my-auto'></div>
    <div class="container text-center my-auto">
      <h2 class="mb-5">Pokemon Finder!</h2>
      <form class="row" action="http://localhost:5000/hasil" method="POST">
      <div class="container">
        <input id="name" type="text" name='name' class="form-control" aria-describedby="emailHelp" placeholder="Ketik nama Pokemon..."><br>
        
        <button type="submit" class="btn btn-success"> Cari&nbsp&nbsp&nbsp<i class="fas fa-search"></i></button>
    </div>
    </form>
    </div>
    <div class="overlay"></div>
    <div class='container text-center my-auto'></div>
  </header>

  <!-- Bootstrap core JavaScript -->
  <script src="http://127.0.0.1:5000/file/index/jquery.min.js"></script>
  <script src="http://127.0.0.1:5000/file/index/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="http://127.0.0.1:5000/file/index/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="http://127.0.0.1:5000/file/index/stylish-portfolio.min.js"></script>
  
</body>
</html>